body {
  background: url(../assets/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px;
}

a:hover {
  color: #fff !important;
  text-decoration: none !important;
}

.site-title {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  line-height: 1;
  margin: 0 0 16px;
  text-transform: uppercase;
}

.site-title a {
  background-color: #f96e5b;
  color: #fff;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
}

.site-title-dark a {
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
}

.question-container {
  background-color: #fff;
  padding: 20px;
}

.question-title {
  background: url(../assets/images/lines.png) bottom repeat-x;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 1;
  margin: 24px 0;
  padding: 24px 0;
  text-align: center;
  text-transform: capitalize;
}

.thumbnail.chosen {
  background-color: red !important;
}

.thumbnail img {
  max-height: 150px;
}
