body {
  background: url(../assets/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px;
}

a:hover {
  color: #fff !important;
  text-decoration: none !important;
}

.site-title {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  line-height: 1;
  margin: 0 0 16px;
  text-transform: uppercase;
}

.site-title a {
  background-color: #f96e5b;
  color: #fff;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
}

.site-title-dark a {
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
}

.question-container {
  background-color: #fff;
  padding: 20px;
}

.question-title {
  background: url(../assets/images/lines.png) bottom repeat-x;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  line-height: 1;
  margin: 24px 0;
  padding: 24px 0;
  text-align: center;
  text-transform: capitalize;
}

.thumbnail:hover {
  background-color: #333 !important;
}

.thumbnail.chosen {
  background-color: #f96e5b !important;
}

#option-img {
  margin-bottom: 5px;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-color: rgba(62, 62, 62, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.result-container-item {
  background: #fff;
  padding: 25px;
  border-radius: 2px;
}

.selected-rapper img {
  display: block;
  margin: 20px auto;
}

.fade-enter {
  right: 100px;
}

.fade-enter-active {
  right: 0px;
  transition: .5s ease-in all;
}

.fade-leave {
  right: 0px;
}

.fade-leave-active {
  right: -100px;
  transition: .5s ease-in all;
}

.thumbnail {
    height: 245px;
}

.question-img {
    float: left;
    width: 300px;
    object-fit: scale-down;
}

.iconbox {
    position: absolute;
    right:    0;
    bottom:   0;
}

