!!! transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1 Which 90s rapper is your spirit animal?
      h3 You are #{rapper}!
      br
      p= description
